@media only screen and (max-width: 768px) {

}

body {
  text-align: center;
}

h1 {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-size:40px;
}

h2 {
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-size:60px;
}

div.list-group {
  font-size:20px;
  line-height: 10px;
  margin: auto;
  width: 60%;
  width: 300px;
}

div.jumbotron {
  margin-top: 40px;
}

#inputfromhomepage {
  width: 90px;
}

#inputfromdefinepage {
  width: 557px;
}
