<div class="jumbotron">
  <h1>$definition.getWord().getName()</h1>
  <br>
  <br>
  <h4 class="def">: $definition.getDefinition()</h4>
  <br>
  <br>
  <a href="/dictionary-list" class="btn btn-info btn-md">Back to Dictionary</a>
</div>
