<br>
<h1>$word.getName()</h1>
<br>
<br>
  #foreach ($definition in $definitions)
  <h4>: $definition.getDefinition()</h4>
  #end
<br>
<br>


<a href="/dictionary-list" class="btn btn-default">Back to Dictionary</a>
