<h1>Please enter another word you would like to define.</h1>

<form action="/dictionary-list" method="post">
  <label for="inputfromhomepage">Word:</label>
  <input id="inputfromhomepage" name="inputfromhomepage" type="text">


  <label for="inputfromdefinepage">Definition:</label>
  <input id="inputfromdefinepage" name="inputfromdefinepage" type="text">
  <button type="submit" class="btn btn-default">Add Word</button>
</form>
