<h1>$word.getName()</h1>
<br>
<br>
<div class="list-group">
  #foreach ($definition in $word.getDefinitions())
      <h4 class="def">: $definition.getDefinition()</h4>
  #end
</div>
<br>
<a href="/" class="btn btn-info btn-md">Back to Dictionary</a>
