<!DOCTYPE html>
<html>
  <head>
    <title>Application Name</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
